
body{
  padding: 180px 20px;
  background: rgba(255, 0, 0, 0.75);
}
header {
  width: 200px;
  position: Relative;
  margin: 0 auto;
}
input:focus {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  padding: 0 20px;
  line-height: 2em;
  font-weight: 100;
  font-size: 12px;
  cursor: auto;
}
input {
  float: right;
  border: 3px solid rgb(0, 0, 0);
  outline: none;
  width: 40px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 40px;
  background: none;
  font-size: 0;
}
.close span {
  width: 3px;
  height: 20px;
  border-radius: 2px;
  background: rgb(0, 0, 0);
  display: inline-block;
}
.front {
  position: absolute;
  right: 24px;
  top: 13px;
  transform: rotate(-45deg);
  opacity: 0;
  animation-delay: 2s;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.back {
  position: absolute;
  right: -3px;
  top: 33px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: 0.2s all ease-in;
}
input:focus + div .front {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:focus + div .back {
  right: 24px;
  top: 13px;
}
